.log-display {
  border: 0.2em solid rgb(232, 23, 93);
  width: 100%;
  height: 20%;
  background-color: transparent;
  border-radius: 1.5em;
   display: flex;
   
}

.logs {
  width: 100%;
  padding: 0.2em 1em 0 1.3em;
  background-color: rgb(54, 54, 54,0.5);
  overflow-y: scroll;
  border-radius: 2em;
  font-size: 0.9em;
  color: whitesmoke;
}
